main {
    padding-left: 1rem;
    padding-right: 1rem;
    font-style: italic;
    padding-bottom: 7rem;
    
}

.container {
    max-width: min(80ch, 100vw - 2rem);
    margin-inline: auto;
    
}
img {
    max-width: 100%;
    min-width: 3rem;
    height: auto;


}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
  }

.navbar {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: black;
    
}



a {
    color: white;
    font-family: monospace;
}
footer{
    background-color: black;
    padding: 5ch;
}
a:link{
    text-decoration: none;
}

a:hover{
    color:blue;
}


gallery {
    list-style: none;
    padding: 5;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
    gap: 1rem;
}

.gallery img {
    display: block;

    object-fit: cover;
    aspect-ratio: 4/3;
    height: auto;
}

.gallery figure {
    position: relative;
}

.gallery figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.5rem;
    background: rgba(0, 0, 0, 0.5);
    color: white;
}
